* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.3rem;
    color: $light-color;
    font-weight: 600;
}

//anchor tag
a{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}