//variables 


    //theme_color 
    $dark-color : rgb(41, 45, 62);
    $light-color : rgb(245, 246, 255);
    
        //Collor-Pallet 
    $primary-color : purple;
    $secondary-colr : rgb(23, 53, 117);
    $ascent-colr : rgb(36, 164, 138);
    
        // Ascent-colors 
    $pri-green : rgb(36, 164, 138);
    $pri-red : rgb(211, 79, 79);
    $pri-blue : rgb(67, 91, 175);
    $pri-pink : rgb(177, 76, 110);